#s-b8d039b9-6383-4c4e-b4a3-48bef217903d > #backgroundBox {
  position: absolute;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d > #alignmentBox {
  position: relative;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph_16 {
  position: absolute;
  width: 139.0px;
  min-height: 54.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph_16 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Line_1 {
  position: absolute;
  width: 2.0px;
  height: 241.0px;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph_17 {
  position: absolute;
  width: 99.0px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold',Arial;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph_17 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph_17 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 9.0pt;
  line-height: 14px;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 9.0pt;
  line-height: 14px;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph_14 {
  position: absolute;
  width: 139.0px;
  min-height: 54.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph_14 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph_15 {
  position: absolute;
  width: 99.0px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold',Arial;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph_15 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 9.0pt;
  line-height: 14px;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 9.0pt;
  line-height: 14px;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph_6 {
  position: absolute;
  width: 399.9999999999998px;
  min-height: 216.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph_6 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
  line-height: 27px;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
  line-height: 27px;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Title {
  position: absolute;
  width: 481.0px;
  min-height: 112.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Title .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Title .valign {
  vertical-align: middle;
  text-align: left;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Title span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 31.0pt;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Title span#rtr-s-Title_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 31.0pt;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph {
  position: absolute;
  width: 400.0px;
  min-height: 81.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 13.0pt;
  line-height: 27px;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 13.0pt;
  line-height: 27px;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Arrow_left {
  position: absolute;
  width: 42.0px;
  height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Arrow_right {
  position: absolute;
  width: 42.0px;
  height: 42.0px;
  -webkit-transform: rotate(180.0deg);
  -moz-transform: rotate(180.0deg);
  transform: rotate(180.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Rectangle {
  position: absolute;
  width: 447.0px;
  min-height: 288.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Rectangle > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Rectangle .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Rectangle .valign {
  vertical-align: middle;
  text-align: center;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Rectangle span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Rectangle span#rtr-s-Rectangle_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Title_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Title_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Title_1 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Title_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Title_1 span#rtr-s-Title_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Image_24 {
  position: absolute;
  width: 49.0px;
  height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Image_25 {
  position: absolute;
  width: 49.0px;
  height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Image_35 {
  position: absolute;
  width: 245.785714285714px;
  height: 286.7499999999986px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Master_item_1 div.firer, #s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Master_item_1 div.shapewrapper {
  transform: translate(-4.547473508864641E-13px, 0.0px);
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Master_item_5 div.firer, #s-b8d039b9-6383-4c4e-b4a3-48bef217903d #s-Master_item_5 div.shapewrapper {
  transform: translate(-3.410605131648481E-13px, 193.00000000000023px);
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-b8d039b9-6383-4c4e-b4a3-48bef217903d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
