<h1 class="title">{{title}}</h1>
<form class="box" action="add" method="post">
	<label for="jobTitle" class="label">Job title</label>
	<input type="text" placeholder="CEO" spellcheck="true" class="input" autofocus required id="jobTitle" name="jobTitle" />
	<label for="applicationDate" class="label">Date applied</label>
	<input type="date" id="applicationDate" class="input" name="applicationDate" />
	<label for="postedDate" class="label">Date posted</label>
	<input type="date" id="postedDate" class="input" name="postedDate" />
	<label for="action" class="label">Action</label>
	<select class="select is-multiple input" id="action" name="action" multiple>
		<option class="option" id="addAction" onclick="addAction">Add action</option>
		<option class="option" id="addAction" onclick="addAction">Add </option>
		<option class="option" id="addAction" onclick="addAction">Adon</option>
	</select>
	<button type="submit" class="button is-primary" id="submitButton">Submit</button>
</form>