<h1 class="title">{{title}}</h1>
<form action="login" method="post" class="box">
	<label for="email" class="label">Email</label>
	<input type="email" placeholder="Email@domain.ca" spellcheck="true" class="input" autofocus required id="email" name="email" />
	<label for="password" class="label">Password</label>
	<input type="password" placeholder="Password" spellcheck="true" class="input" required id="password" name="password" />
	<button type="submit" class="button is-primary" id="submitButton">Login</button>
</form>