<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<!-- CDN to Bulma stylesheet -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css"
			integrity="sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<title>Document</title>
	</head>
</html>

<body class="container">
	<header>
		<!-- Navbar from Bulma.io
		credits to: https://bulma.io/documentation/components/navbar/#basic-navbar -->
		<nav class="navbar" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<a class="navbar-item" href="/">
					<img src="images/tree-svgrepo-com.svg" width="112" height="28" />
				</a>

				<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>

			<div id="navbarBasicExample" class="navbar-menu">
				<div class="navbar-start">
					<a href="/" class="navbar-item">Home</a>

					<a class="navbar-item" href="/christofer">Christofer</a>
					<a class="navbar-item" href="/Samantha">Samantha</a>
					<a class="navbar-item" href="/lydea">Lydea</a>
					<a class="navbar-item" href="/Marc">Marc</a>
					<a class="navbar-item" href="/Christene">Christene</a>
				</div>
			</div>
		</nav>
	</header>
</body>
