<%- include('./layout/header.ejs') -%>
<main>
	<article>
		<h1 class="title"><%= title %></h1>
		<p>Hi my name is <%= title %></p>
		<p>I am the mother and teacher in the house!</p>
		<h2>About</h2>
		<p>
			One thing I can say about my mom is that she very much loves her children and family, willing to go to extreme lengths to get them what she
			thinks they deserve. Always willing to make a phone call or wait in line for them. She is a part-time college professor at Humber for English
			and also runs Angelic Treasures daycare. My mom has always been into entrepreneurship and I can really see she really enjoys having her daycare
			to manage right now.
		</p>
	</article>
</main>
<%- include('./layout/footer') -%>
