<%- include('./layout/header.ejs') -%>
<main>
	<article>
		<h1 class="title"><%= title %></h1>
		<p>Hi my name is <%= title %></p>
		<p>I am the eldest child in my family and only boy! My life is pretty great because I have a wonderful family.</p>
		<h2>A day in the life</h2>
		<p>
			My week is comprised of "going" to school (really only for my genetics lab) and completing the homework thereof. But the best part of my week is
			obviously the weekend as I can relax and not have the stress of my job and school on Saturday I go to church and the sunday I sleep in and play
			games.
		</p>
	</article>
</main>
<%- include('./layout/footer') -%>
