<%- include('./layout/header.ejs') -%>
<main>
	<article>
		<h1 class="title"><%= title %></h1>
		<p>Hi my name is <%= title %></p>
		<p>I am the middle child in my family and first girl!</p>
		<h2>My life</h2>
		<p>
			My sister is an excellent baker who enjoys cooking as well (and bossing others around). She's in grade 12 and really hoping to go to the
			University of Ottawa to pursue her interest in social work and the french language. And if I may add to live independently with her friends
			there already 😄
		</p>
	</article>
</main>
<%- include('./layout/footer') -%>
