<%- include('./layout/header.ejs') -%>
<main>
	<article>
		<h1 class="title"><%= title %></h1>
		<p>Hi my name is <%= title %></p>
		<p>I am the father and mr.Fix it!</p>
		<h2>About</h2>
		<p>
			My dad is great he's very outgoing, funny (at times), and caring for others. Above all he (almost) never turns down a task and shows how to
			learn new skills to do it and probably the reason why I'm so capable of learning new things and good with technology. Right now he does
			freelance work involving hardware installation and networking.
		</p>
	</article>
</main>
<%- include('./layout/footer') -%>
